* {
  font-family: 'Montserrat', sans-serif;
  // font-size: 17px;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
// h2 {
//   font-size: 24px;
// }
.edge-12 {
  border-radius: 12px !important;
}
// h3 {
//   font-size: 20px;
// }
.route-active {
  font-weight: 900;
  font-size: 16px;
  background-color: #fff !important;
  opacity: 1;
  color: #fff;
}
.edge-7 {
  border-radius: 7px;
}

.alert-content {
  padding: 4px;
  .alert-title {
    font-weight: bolder;
    margin: 4px 0px 4px 0px;
  }
  .alert-text {
    font-weight: 500;
  }
}
