* {
  font-family: sans-serif;
  user-select: none;
  scrollbar-color: white white !important;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.v-app-bar > header {
  z-index: 10 !important;
}
.edge-12 {
  border-radius: 12px !important;
}

.route-active {
  font-weight: 900;
  font-size: 16px;
  background-color: #fff !important;
  opacity: 1;
  color: #fff;
}
.edge-7 {
  border-radius: 7px;
}

.alert-content {
  padding: 4px;
  .alert-title {
    font-weight: bolder;
    margin: 4px 0px 4px 0px;
  }
  .alert-text {
    font-weight: 500;
  }
}

.white-bg {
  background-color: #fff !important;
}
.pull-up {
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  box-shadow: none !important;
  &:hover {
    -webkit-transform: translateY(-4px) scale(1.02) !important;
    -moz-transform: translateY(-4px) scale(1.02) !important;
    -ms-transform: translateY(-4px) scale(1.02) !important;
    -o-transform: translateY(-4px) scale(1.02) !important;
    transform: translateY(-4px) scale(1.02) !important;
    -webkit-box-shadow: 0 14px 24px rgb(0 0 0 / 20%) !important;
    box-shadow: 0 14px 24px rgb(0 0 0 / 20%) !important;
    z-index: 7 !important;
  }
}
.app-primary-nav-items {
  display: flex;
  width: 15% !important;
}
.app-secondary-nav-items {
  display: flex;
  justify-content: flex-end !important;
  .nav-item {
    display: flex;
    justify-content: space-between;
  }
}
.nav-item {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  > button {
    background-color: #fff !important;
    min-width: 45px !important;
    width: 52px !important;
    border-radius: 52px !important;
    height: 45px !important;
    box-shadow: none;
    padding: 0 12px !important;
    span > i {
      font-size: 28px !important;
      &:hover {
        color: #0252cc !important;
      }
    }
    &:hover {
      span > i {
        color: #0252cc !important;
      }
      box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    }
    &::before {
      opacity: 0 !important;
    }
  }
}
.nav-search {
  max-width: 50% !important;
  height: 50px !important;
  .v-input__slot {
    box-shadow: none !important;
  }
}
.custom-menu__content {
  margin-top: 3.45rem !important;
}
.w-100 {
  width: 100% !important;
}
.nav-bar-items {
  display: flex;
}
.bg-lightBlue {
  background-color: #e1eaf9 !important;
}
.primary-text {
  color: #0252cc;
}
.bg-white {
  background-color: #fff !important;
}
.bg-website {
  background-color: #f8f9fb !important;
}
.bg-primary {
  background-color: #0252cc !important;
}
.pull-right {
  float: right !important;
}
.menu-btn {
  font-size: 0.8571rem !important;
  padding: 2px 10px !important;
  font-weight: bold;
  background-color: #e1eaf9 !important;
  border-color: #e1eaf9 !important;
  color: #0052cc !important;
  transition: 0.3s linear;
  &:hover {
    background-color: #0052cc !important;
    border-color: #0052cc !important;
    color: #ffffff !important;
    box-shadow: 0 14px 26px -12px rgb(0 0 0 / 10%), 0 4px 23px 0 rgb(0 0 0 / 10%), 0 8px 10px -5px rgb(0 0 0 / 10%);
  }
}
.bg-secondary {
  background-color: #e9edf2 !important;
  color: #172b4c !important;
}
.menu-btn-inverted {
  font-size: 0.8571rem !important;
  padding: 2px 10px !important;
  font-weight: bold;
  background-color: #0052cc !important;
  border-color: #0052cc !important;
  color: #ffffff !important;
  box-shadow: 0 14px 26px -12px rgb(0 0 0 / 10%), 0 4px 23px 0 rgb(0 0 0 / 10%), 0 8px 10px -5px rgb(0 0 0 / 10%);
}
.v-progress-circular__underlay {
  stroke: ghostwhite !important;
}
.company-search {
  height: 30px !important;
  max-width: 15%;
  min-width: 12rem;
  > .v-input__control {
    min-height: 30px !important;
  }
  .v-input__slot {
    box-shadow: none !important;
  }
}
.dark-text {
  color: #000 !important;
  opacity: 1 !important;
}
.v-card {
  border-radius: 12px !important;
}
.v-btn {
  border-radius: 8px !important;
}
.v-data-table {
  border-radius: 12px !important;
  > header {
    border-radius: 12px 12px 0px 0px !important;
  }
}
.overflow-x-scroll {
  overflow-x: scroll !important;
}
.sidebarTooltip {
  left: 25px !important;
  z-index: 10 !important;
}
.sidebarLogoutTooltip {
  z-index: 10 !important;
}
nav {
  height: 100% !important;
}
.bg-error {
  background-color: #ee5335 !important;
}
.bg-lightWHite {
  background-color: #f8f9fb !important;
}
